footer{
    text-align: center;
    color:black;
    margin-bottom: 10px;
    margin-top: 30px;
}

section{
    background: rgb(46, 126, 223);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 10px;
    margin-top: 10px;
}

header{
    text-align: center;
    color:black;
    margin-bottom: 10px;
    margin-top: 10px;
}

body{
    text-align: center;
}

div.lados{
    
} 

button.botaoInicial{
    background: url("/img/vazio.png");
    height: 76px;
    width: 80px;
    border: none;
    margin-left: 11px;
    margin-top: 3px;
}

div.dificuldade{
    text-align: center;
    color: aliceblue; 
    background: rgb(46, 126, 223);
    font-size: 40pt;
    width: 100%;
    height: 100%;
}

button.popup{
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

div.tampao{
    display: block;
    width:100%; 
    height:100%
}
