footer{
    text-align: center;
    color:black;
    margin-bottom: 10px;
    margin-top: 30px;
}

section{
    background: rgb(46, 126, 223);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 10px;
    margin-top: 10px;
}

header{
    text-align: center;
    color:black;
    margin-bottom: 10px;
    margin-top: 10px;
}

body{
    text-align: center;
}


button.botaoInicial{
    background: url("/4emLinha/img/vazio.png");
    height: 76px;
    width: 80px;
    border: none;
    margin-left: 11px;
    margin-top: 3px;
}

div.dificuldade{
    text-align: center;
    color: aliceblue; 
    background: rgb(46, 126, 223);
    font-size: 40pt;
    width: 100%;
    height: 100%;
}

button.popup{
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

div.tampao{
    display: block;
    width:100%; 
    height:100%
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }